body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #000;
}
#game-bg-layer {
	width:100%;
	height:600px;
}
#inv-bg-layer {
	background-image:url(images/inv-bg-img.png);
	width:100%;
	height:300px;
}

#text-block {
	background-image:url(images/text-bg-img.png);
	width:100%;
	height:300px;
  padding: 50px 0;
  overflow: hidden;
}

#text-bg-layer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#text-bg-layer p {
	font-family: 'Cinzel', serif;
	margin: 0 30px;
	font-size: 18px;
}
.overlay-object {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.inventory {
  padding: 29px 5px;
  display: inline-block;
}

.inventory-item {
  width: 51px;
  height: 51px;
  padding: 0;
  margin: 6px 7px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
